{% extends "layout.njk" %}
<!-- herda outro arquivo njk -->
{% block pagina %}   
<!-- sobrescrita do bloco pagina -->
    {% if numero %}
        <h1>Tabuada do {{numero}} </h1>
        <!-- varial numero obtida de tabuada.js -->
        {% for i in [0,1,2,3,4,5,6,7,8,9,10] %}
            <p>{{numero}} x {{i}} = {{ numero * i }} </p>
        {% endfor %}
    {% else %}
        <h1> Números Ímpares são inválidados </h1>
    {% endif %}
    
{% endblock %}